# Vagrant
.vagrant/
*.log

# Kubernetes / local state
kubeconfig*
*.kubeconfig

# K3s join token, written by p1's server into the shared folder
node-token

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
